// @import '../../style/_vars.scss';

.event-form {
	padding: $pad;
	float: right;
	width: 28%;
	background: $color-primary;
	border-radius: $pad;
	box-shadow: 0 0 0.3em $color-lightgrey;
	margin: $pad;

	input {
		height: 1.5em;
	}

	#allday {
		display: none;
	}

	#notify {
		display: none;
	}

	button {
		width: 100%;
		height: 2em;
		margin-bottom: -0.8em;
		border-radius: 0.6em;
		font-size: 1em;
	}
}
