@import '../../style/_vars.scss';

.event-form {
  padding: $pad;
  float: right;
  width: 28%;
  background: $color-primary;
  border-radius: $pad;

  input{
    height: 1.5em;
  }

  #allday{
    display: none;
  }
  #notify{
    display: none;
  }
}
