
$color-primary: #F6F6F6;
$color-secondary: #73A3D3;
$color-hover: #FFFFFF;
$color-rest: #114499;
$color-success: #5EAD5E;
$color-error: #ff777a;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #6E7177;

$pad: 0.5em;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
