.landing-container{

    .signin-button{
    width: 7em;
    height: 2.5em;
    position: absolute;
    top: 4.4em;
    font-size: 1em;
    left: 1em;
  }


  .signup-button{
    width: 7em;
    height: 2.5em;
    position: absolute;
    top: 4.4em;
    font-size: 1em;
    left: 8.2em;
  }
}
